<div class="course">
    <h1>{{course.title}}</h1>

    <img src="{{course.img}}" alt="{{course.title}}">

    <p class="price big">{{course.price}}</p>
    <p class="course_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatum fuga, minus nostrum libero aperiam?
        Ab, necessitatibus quisquam tempora ipsum iure laboriosam repudiandae esse ut ullam ratione rerum dolores velit
        obcaecati quas consequuntur sapiente voluptate qui voluptatem laudantium quasi fuga, odio similique? Explicabo
        facere assumenda minus repellat quo soluta et.</p>
</div>